{% extends "base.html" %}

{% block content %}
<div class="container mt-3 mb-5">
   
            <h3> A propos </h3>
            <div class="container mt-3 mb-5"></div>
            <p> <h5>ce projet est un blog coup de cœur qui se compose de très nombreux articles. Ces derniers sont classés dans la categorie voyage</h5>
                <div class="container mt-3 mb-5"></div>
                <div class="col-lg-6">
                    <img src="https://mobile-img.lpcdn.ca/v2/924x/r3996/78c3a2a7b35430e39346b8bc59176033.webp" >
                </div>
                <div class="container mt-3 mb-5"></div>
                On y découvre les plus beaux hôtels mais aussi des sites touristiques incontournables aux quatre coins du globe. Le blog est un savoureux mélange d’articles.

                Il y a des placements de produits comme les montres ou les livres, des articles sponsorisés, mais l’identité reste toujours la même.
            
            
            </p>
            
    </div>
</div>
{% endblock %}